## Ejercicio 10

Escribir un programa que muestre por pantalla la tabla basicas de multipicar.

In [14]:
I=0
print("Ingrese el numero a multiplicar")
while I==0: 
    W =float(input())
    if W>=1 and W<=10:
        X1= W * 1
        X2= W * 2
        X3= W * 3
        X4= W * 4
        X5= W * 5
        X6= W * 6
        X7= W * 7
        X8= W * 8
        X9= W * 9
        X10= W * 10
        print("Tabla del ",W)
        print(W, "X 1 =", X1)
        print(W, "X 2 =", X2)
        print(W, "X 3 =", X3)
        print(W, "X 4 =", X4)
        print(W, "X 5 =", X5)
        print(W, "X 6 =", X6)
        print(W, "X 7 =", X7)
        print(W, "X 8 =", X8)
        print(W, "X 9 =", X9)
        print(W, "X 10 =", X10)
        I=1
    else:
        print("Escriba una tabla de multiplicar bÃ¡sica")

Ingrese el numero a multiplicar
6
Tabla del  6.0
6.0 X 1 = 6.0
6.0 X 2 = 12.0
6.0 X 3 = 18.0
6.0 X 4 = 24.0
6.0 X 5 = 30.0
6.0 X 6 = 36.0
6.0 X 7 = 42.0
6.0 X 8 = 48.0
6.0 X 9 = 54.0
6.0 X 10 = 60.0

Otra forma de hacerla es la siguiente.

In [13]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i*j, end="\t")
    print("")

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100